<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insects.getdata.mapper.EmployeeDetailMapper">
<!--    <resultMap id="BaseResultMap" type="com.insects.dynamicservice.domain.Company">-->
<!--        <result column="AOI_NAME" jdbcType="VARCHAR" property="AOI_NAME" />-->
<!--        <result column="AOI_ID" jdbcType="VARCHAR" property="AOI_ID" />-->
<!--        <result column="PR_COUNT_PERSON" jdbcType="VARCHAR" property="PR_COUNT_PERSON" />-->
<!--        <result column="PTI0PERSON" jdbcType="VARCHAR" property="PTI0PERSON" />-->
<!--        <result column="PTI1PERSON" jdbcType="VARCHAR" property="PTI1PERSON" />-->
<!--        <result column="PTI2PERSON" jdbcType="VARCHAR" property="PTI2PERSON" />-->
<!--        <result column="PTI3PERSON" jdbcType="VARCHAR" property="PTI3PERSON" />-->
<!--        <result column="PTI4PERSON" jdbcType="VARCHAR" property="PTI4PERSON" />-->
<!--        <result column="PTI5PERSON" jdbcType="VARCHAR" property="PTI5PERSON" />-->
<!--        <result column="PTI6PERSON" jdbcType="VARCHAR" property="PTI6PERSON" />-->
<!--        <result column="PTI7PERSON" jdbcType="VARCHAR" property="PTI7PERSON" />-->
<!--    </resultMap>-->
    <insert id="addEmployeeDetail" parameterType="java.util.List">
        replace into employee_detail (
            SWSB_ID,RPI_NAME,SCO_NAME,AOI_NAME,CER_NUM,PTI_NAME,ECO_NAME,OBTAIN_DATE,RPI_PHOTO_PATH,RPI_ID,PTI_ID,
            RPI_DELEGATE_START_DATE,RPI_DELEGATE_END_DATE,RPI_PRACTICE_GEOGRAPHICAL,ADI_NAME,AOI_COMPANY_WWW,AOI_CHARREF_NO,RPI_DP_LIST
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.SWSB_ID},#{item.RPI_NAME},#{item.SCO_NAME},#{item.AOI_NAME},#{item.CER_NUM},#{item.PTI_NAME},#{item.ECO_NAME},
                #{item.OBTAIN_DATE},#{item.RPI_PHOTO_PATH},#{item.RPI_ID},#{item.PTI_ID},#{item.RPI_DELEGATE_START_DATE},
                #{item.RPI_DELEGATE_END_DATE},#{item.RPI_PRACTICE_GEOGRAPHICAL},#{item.ADI_NAME},#{item.AOI_COMPANY_WWW},
                #{item.AOI_CHARREF_NO},#{item.AOI_CHARREF_NO},#{item.RPI_DP_LIST}
            )
        </foreach>
    </insert>

    <insert id="addOne">
        replace into employee_detail (
        SWSB_ID,RPI_NAME,SCO_NAME,AOI_NAME,CER_NUM,PTI_NAME,ECO_NAME,OBTAIN_DATE,RPI_PHOTO_PATH,RPI_ID,PTI_ID,
        RPI_DELEGATE_START_DATE,RPI_DELEGATE_END_DATE,RPI_PRACTICE_GEOGRAPHICAL,ADI_NAME,AOI_COMPANY_WWW,AOI_CHARREF_NO,RPI_DP_LIST
        )
        values
        (
            #{SWSB_ID},#{RPI_NAME},#{SCO_NAME},#{AOI_NAME},#{CER_NUM},#{PTI_NAME},#{ECO_NAME},
            #{OBTAIN_DATE},#{RPI_PHOTO_PATH},#{RPI_ID},#{PTI_ID},#{RPI_DELEGATE_START_DATE},
            #{RPI_DELEGATE_END_DATE},#{RPI_PRACTICE_GEOGRAPHICAL},#{ADI_NAME},#{AOI_COMPANY_WWW},
            #{AOI_CHARREF_NO},#{RPI_DP_LIST}
        )
    </insert>

    <select id="getAll" resultType="com.insects.getdata.domain.EmployeeDetail">
        select
            SWSB_ID,RPI_NAME,SCO_NAME,AOI_NAME,CER_NUM,PTI_NAME,ECO_NAME,OBTAIN_DATE,RPI_PHOTO_PATH,RPI_ID,PTI_ID,RPI_DELEGATE_START_DATE,RPI_DELEGATE_END_DATE,RPI_PRACTICE_GEOGRAPHICAL,ADI_NAME,AOI_COMPANY_WWW,AOI_CHARREF_NO,RPI_DP_LIST;
        from
            company
    </select>
</mapper>